<div class="patient-details-content">
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th></th>
        </thead>
        <tbody *ngIf="displayedPatient else emptyList">
            <tr>
                <td><input [(ngModel)]="displayedPatient.name"/></td>
                <td><input [(ngModel)]="displayedPatient.dateOfBirth"/></td>
                <td>
                    <select [(ngModel)]="displayedPatient.gender">
                        <option>male</option>
                        <option>female</option>
                        <option>unknown</option>
                    </select>
                </td>
                <td><span class="save-icon" (click)="save()">💾</span></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #emptyList>
    <div class="message">
        No Patients to show 😪
    </div>
</ng-template>
