<app-patient-search (inputChanged)="handleSearch($event)"></app-patient-search>
<table  class="patient-table">
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Edit</th>
    </thead>

    <div class="patient-table-content" *ngIf="filteredPatients.length > 0 && !isLoadInProgress else emptyList">
        <table>
            <tbody>
                <tr *ngFor="let patient of filteredPatients">
                    <td>{{patient.name}}</td>
                    <td>{{patient.dateOfBirth}}</td>
                    <td>{{patient.gender}}</td>
                    <td><a [routerLink]="routerLinkForDetailsState(patient.id)">✏️</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</table>

<ng-template #emptyList>
    <div class="patient-table-content">
        <div class="message">
            No Patient to show 😪
        </div>
    </div>
</ng-template>