@first-column-width: 250px;
@second-column-width: 150px;
@third-column-width: 100px;
@operation-column-width: 25px;
@table-width: @first-column-width + @second-column-width + @third-column-width + @operation-column-width + @operation-column-width;
@loading-image-size: 200px;

table.patient-table {
    background-color: rgb(238, 238, 238);
    position: relative;
    width: @table-width;

    thead{
        background-color: rgb(30,30,140);
        position: absolute;
        width: 100%;
        //scrollbar fix
        padding-right: 20px;

        th {
            text-align: left;
            color: white;
            padding: 15px;
            
            &:nth-child(1) {
                width: @first-column-width;
            }
            &:nth-child(2) {
                width: @second-column-width;
            }
            &:nth-child(3) {
                width: @third-column-width;
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: @operation-column-width;
            }
        }
    }
    div.patient-table-content {
        margin-top: 55px;
        height: 400px;
        overflow-y: scroll;

        tr {
            td {
                padding: 15px;

                &:nth-child(1) {
                    width: @first-column-width;
                }
                &:nth-child(2) {
                    width: @second-column-width;
                }
                &:nth-child(3) {
                    width: @third-column-width;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    width: @operation-column-width;
                }
                .delete-icon,
                a {
                    &:hover {
                        background-color: #3276ad;
                        border-radius: 5px;
                    }    
                }
                .delete-icon {
                    &:hover {
                        cursor: pointer;
                    }  
                }
            }
        }

        .message {
            position: relative;
            margin: calc(35% - @loading-image-size/2) auto auto auto;
            width: @loading-image-size;

            img {
                height: @loading-image-size;
                width: @loading-image-size;
            }
        }
    }

}